@import '../colors.less';
@dim: 20%;

.hexagon {
  fill: #000000;
}

.forest {
  fill: @forest;
}

.forest.dimmed {
  fill: fade(@forest, @dim);
}

.sand {
  fill: @sand;
}

.sand.dimmed {
  fill: fade(@sand, @dim);
}

.rock {
  fill: @rock;
}

.rock.dimmed {
  fill: fade(@rock, @dim);
}

.ocean {
  fill: @ocean;
}

.ocean.dimmed {
  fill: fade(@ocean, @dim);
}

.void {
  fill: @void;
}

.refinery {
  fill: @refinery;
}

.refinery.dimmed {
  fill: fade(@refinery, @dim);
}

.elmeron {
  fill: @red;
}

.unexplored {
  fill: transparent;
  stroke: @grey;
  stroke-dasharray: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}
